#error_page {
    width: 100%;
    height: 100%;
    background-color: var(--screenBlack);
    color: var(--gameWhite);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    gap: 20px;
    div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}

a {
    font-size: 1.5rem;
}