#settings_container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    background-color: var(--screenBlack);
    color: var(--white);
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    /* gap: 50px; */
}

.settings_div {
    margin-top: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    h1 {
        width: fit-content;
    }
}

.settings_div:first-of-type {
    margin-top: 0px;
}


.horizontal_div {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    width: 90%;
    margin: 0 auto;
    
    button {
        background-color: var(--black);
        border-radius: 10px;
        cursor: pointer;
    }
    h2 {
        margin: auto 0;
    }
}

.slider_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    h1 {
        width: 30%;
        text-align: center;
    }
}

.setting_tooltip_text {
    visibility: hidden;
    width: fit-content;
    background-color: var(--black);
    color: #eaeaea;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    bottom: 100%;
    left: 0;
    font-size: 1.2rem;
}

.settings_div > h1:hover + .setting_tooltip_text {
    visibility: visible;
}

.bottom_tooltip_text{
    visibility: hidden;
    opacity: 0;
    width: fit-content;
    background-color: var(--black);
    color: #eaeaea;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    bottom: 110%;
    left: 4px;
    font-size: 1.2rem;
}

#offset_div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    input {
        width: 50%;
        font-size: 2rem;
        text-align: center;
        font-family: 'Poppins';
        background-color: var(--black);
        color: white;
    }
    div {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }
    button {
        background-color: var(--black);
        padding-top: 3px;
        cursor: pointer;
    }
    svg {
        fill: var(--white);
    }
}

#save_reset_btns {
    display: flex;
    flex-direction: row;
    margin: 40px auto 0 auto;
    gap: 10px;
}

.bottom_btns {
    width: fit-content;
    padding: 5px;
    font-size: 1.4rem;
    background-color: var(--black);
    color: var(--white);
    position: relative;
    border-radius: 6px;
}

.action_btn {
    font-size: 2rem;
    /* Background Color handled in TSX */
}

.mobile_btn {
    background-color: #1a1a1a;
    border-radius: 10px;
}

#mobile_settings {
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    aspect-ratio: 2/1;
    z-index: 1;
    max-width: 550px;
    background-color: var(--screenBlack);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    div {
        height: 100%;
        width: 100%;
        /* align-self: center; */
        /* justify-self: center; */
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--green)
    }
    h2 {
        position: absolute;
        bottom: 100%;
        left: 0%;
        background-color:  var(--screenBlack);
    }    
}

.subtitle {
    margin: 0 auto;
}

#restartBtn {
    position: relative;
}

#mapping_error {
    position: absolute;
    top: 110%;
    right: 0;
    visibility: hidden;
    opacity: 0;
    font-size: 1.75rem;
    color: #c70000  ;
}

.slider {
    appearance: none;
    width: 100%;
    max-width: 900px;
    border-radius: 10px;
    height: 15px;
    background: var(--green);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 35px;
    border-radius: 50%;
    border: 3px solid var(--white);
    background-color: var(--screenBlack);
    aspect-ratio: 1;
    /* background: var(--white); */
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 15px;
    border-radius: 50%;
    border: 3px solid var(--white);
    background-color: var(--screenBlack);
    aspect-ratio: 1;
    /* background: var(--white); */
    cursor: pointer;
}

@media screen and (min-width: 400px) {
    .slider_div {
        h1 {
            width: 15%;
            text-align: center;
        }
    }
    
}