#songHtml {
    width: 100%;
    height: 100%;
    background-color: #171a1c;
    border-radius: 1%;
    /* overflow: auto;
    cursor: pointer;
    font-size: 20px;
    font-weight: 100;
    padding: 10px;
    letter-spacing: 1px;
    gap: 5px; */
}

#account {
    width: 100%;
    background-color: red;
    height: 5%;
}

#content_container {
    width: 100%;
    display: flex;
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#tape_info {
    background-color: blue;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1%
}

#tape {
    background-color: palegoldenrod;
    width: 100%;
    height: 30%;
}

#leaderboard_btn {
    height: fit-content;
    width: 95%;
    padding: 1%;
    margin: 1px auto;
    background-color: purple;
}

#play_btn {
    height: fit-content;
    width: fit-content;
    background-color: purple;
    padding: 1%;
    margin: 0 auto;
}

#data {
    height: fit-content;
    width: 95%;
    padding: 5px 20px;
    margin: 0 auto;
    background-color: #326d4a;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.tooltip {
    display: flex;
    gap: 10px;
    position: relative;
}

.tooltip_text {
    visibility: hidden;
    width: fit-content;
    background-color: black;
    color: #eaeaea;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    bottom: 125%;
    left: 0%;
}

.tooltip:hover .tooltip_text {
    visibility: visible;
}



#description_container {
    width: 95%;
    height: 52%;
    margin: 0 auto;
    padding: 10px;
    background-color: aquamarine;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: black transparent;
    display: flex;
    flex-direction: column;
    gap: 10px;
    p{
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
    }
}

#genre_language {
    word-break: break-all;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

#songList_leaderboard {
    background-color: green;
    height: 50%;
    width: 100%;
}

#song_list_container {
    width: 100%;
    height: 100%;
    background-color:cornflowerblue;
}

#bookmark_nav {
    width: 100%;
    /* margin: 0 auto; */
    height: fit-content;
    display: flex;
    gap: 10px;
    padding: 5px 3%; 
    background-color:hotpink;
    button {
        background-color: transparent;
        border: 0;
    }
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

#song_list {
    width: 100%;
    height: 95%;
    padding: 10px;
    background-color: crimson;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: black transparent;
}

.song_btn{
    background-color:darkkhaki;
    border-radius: 6px;
    width: 95%;
    padding: 5px;
    height: fit-content;
    transition: width 0.2s ease;
}

.song_btn.active{
    width: 100%;
}

.song_btn:hover {
    width: 100%;
}

.song_metadata {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.lb {
    overflow: scroll;
    scrollbar-width: thin;
    scrollbar-color: black transparent;
}

#leaderboard {
    width: 100%;
    height: 100%;
    background-color: crimson;
    scrollbar-width: thin;
    padding: 10px;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}



@media screen and (min-width: 600px) {
    #content_container {
        flex-direction: row;
    }
    #tape_info {
        height: 100%;
        width: 50%;
    }
    #songList_leaderboard {
        height: 100%;
        width: 50%;
    }
}