@font-face {
  font-family: 'Unispace';
  src: url("/fonts/Unispace.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("/fonts/Poppins-Medium.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --black: #1a1a1a;
  --grey: #3a4447;
  --green: #0b7033;
  --white: #91a89a;
}

html,
body,
#root{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Poppins';
}

html {
  font-size: 62.5%;
}
p{
  /* Equivalent to 18px */
  font-size: 1.1rem;
  font-family: 'Poppins';
  outline: 0;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: var(--green)
}

a:hover, a:active {
  color: var(--green)
}

h1 {
  /* Equivalent to 21px */
  font-size: 2.1rem;
}

h2, a {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

button {
  font-size: 1.2rem;
  font-family: 'Poppins';
  background-color: var(--grey);
  color: #eaeaea;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
